- name: WEB
  hosts: webserver
  tasks:

  - name: Install apache2
    apt:
     name: apache2
     state: latest

  - name: Start and enable service
    service:
     name: apache2
     enabled: true
     state: started